*{
    margin: 0;
    padding: 0;
    background: url("./imgs/backg.png") no-repeat center center fixed;
    background-size: cover; 
}



.canv{
    display:flex;
    justify-content: center;

    
}

canvas{
 
}


.butt{
    display: flex;
    justify-content: center;
}


button{
  background: white;
  border: 2px solid black;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 15px 32px;
  text-align: center;  
  text-decoration: none;
  font-size: 90px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  font-family: Helvetica;


}
    


h1, h2, h3{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 40px;
}
h1{
    margin-top: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2{
    font-size: 80px;
    margin-top: 0px;
    margin-left: 3px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3{
    font-size: 100px;
    margin-left: 120px;
    margin-top: -70px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cont-h{
    display:flex;
    justify-content: center;
    margin-right: 200px;
}


.player{
    display: flex;
    justify-content: space-between;
    margin-top: -1000px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    padding-bottom: 500px;
}

.size{
    font-size: 60px;
}